In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [3]:
# importing the dataset
df=pd.read_csv("C:/Users/user/OneDrive/Desktop/TCS FOLDER/TCS INTERNSHIP.csv")

In [4]:
pd.set_option('display.max_columns',None)
df.head()

,GenderID,DeptID,PerfScoreID,Salary,PositionID,Position,State,Sex,CitizenDesc,Department,RecruitmentSource,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Age,LPRD_years,PerformanceScore
0,1,5,4,62506,19,Production Technician I,MA,M,US Citizen,Production,LinkedIn,4.60,5,0,0,1,40,4,Exceeds
1,1,3,3,104437,27,Sr. DBA,MA,M,US Citizen,IT/IS,Indeed,4.96,3,6,0,17,48,7,Fully Meets
2,0,5,3,64955,20,Production Technician II,MA,F,US Citizen,Production,LinkedIn,3.02,3,0,0,3,34,11,Fully Meets
3,0,5,3,64991,19,Production Technician I,MA,F,US Citizen,Production,Indeed,4.84,5,0,0,15,34,4,Fully Meets
4,0,5,3,50825,19,Production Technician I,MA,F,US Citizen,Production,Google Search,5.00,4,0,0,2,34,7,Fully Meets

In [5]:
y=df[["Salary"]]
x=df[["Department"]]

In [6]:
y

        Salary
0        62506
1       104437
2        64955
3        64991
4        50825
...        ...
199994   64747
199995   81305
199996  138094
199997   52963
199998   64575

[199999 rows x 1 columns]

In [7]:
x

                  Department
0          Production
1                      IT/IS
2          Production
3          Production
4          Production
...                      ...
199994     Production
199995  Software Engineering
199996                 Sales
199997         Admin Offices
199998         Admin Offices

[199999 rows x 1 columns]

In [8]:
import matplotlib.pyplot as plt

In [9]:
# train and test 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.30, random_state=0)

In [10]:
x_train.shape

(139999, 1)

In [11]:
x_test.shape

(60000, 1)

In [12]:
# model
from sklearn.linear_model import LinearRegression

In [13]:
Linear_regressor = LinearRegression()

In [14]:
y_train.shape

(139999, 1)

In [ ]:
# train 
Linear_regressor.fit(x_train,y_train)

# y = mx+c
print(Linear_regressor.intercept_)
print(Linear_regressor.coef_)

y_pred = Linear_regressor.predict(x_test)
y_pred

y_test

plt.plot(x_test,y_test,'rx')
plt.plot(x_test,y_pred,c='black')


# evaluate

from sklearn import metrics 
print(metrics.mean_absolute_error(y_test,y_pred))

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,y_pred))